/* form */
div.event_form{border:solid 1px #5D441C;}
div.event_form_border{border:solid 12px #E6E3DC;}
div.create_event_form_row {clear: both;  padding-top: 10px;}
div.create_event_form_row span.label {float: left; width: 180px; text-align: right;color:#4C341C; font-size:12px; font-weight:bold;}
div.create_event_form_row span.data {float: right; width: 530px; text-align: left;}

input[type='text'], input[type='password'], textarea {border:1px solid #C9C6BD;width: 75%; font-size: 1em;padding: 3px;}
input[type='button'], input[type='submit'] {margin: 5px 0px 5px 0px;}
input[type='text'], input[type='password'] {height: 20px;}

img.search_terms_icon {height: 20px; margin: auto 5px; vertical-align:middle; padding: 0px;}

div#addLink {display:none; width: 100%; text-align: center; font-size: 1.5em; margin-left: 10px;}
div#addLink a{color: black; text-decoration: none;}
div#addLink a:hover {color: black; text-decoration: underline;}

#sidebar .help_box {position: absolute; display:none; border: solid 1px #997744; width: 185px; padding: 2px 5px 2px 5px;}
#sidebar .help_box p {margin: 0px; padding: 5px 0px;}

#sidebar #event_name_help, #sidebar #search_term_help, #sidebar #description_help{left: -20px;}
#sidebar #event_name_help {top: 108px;}
#sidebar #search_term_help {top: 145px;}
#sidebar #description_help {top: 218px;}

.hidden {display: none;}