
h2 {
	margin: 0px;
	padding: 0px;
}
	
fieldset {
	margin-left: 10px;
	border: 0px;
}

legend {
	font-size: 3em;
	margin-bottom: 10px;
	margin-left: -10px;
	letter-spacing: .05em;
}

input, textarea { 
	border: solid 1px black;
	padding: 3px;
}

input.fill {
	height: 40px;
	width: 100%;
	font-size: 2.5em;
}

.field_description {
	font-size: 2.0em;
	vertical-align: center;
}

.field_description img {
	height: 20px;
	margin: 0px 10px;
	padding: 0px;	
}
input.search_terms {
	width: 99%;
	height: 30px;
	font-size:1.7em;
	margin-bottom: 5px;
	margin-left:10px;
}

div#addLink {
	display:none;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	margin-left: 10px;
}

div#addLink a{
	color: black;
	text-decoration: none;
}
div#addLink a:hover {
	color: black;
	text-decoration: underline;
}

div.row {
	margin-bottom: 15px;
}

#event_description {
	width: 100%;
	font-size: 1.3em;
}

#sidebar .help_box {
	position: absolute;
	display:none;
	border: solid 1px #997744;
	width: 250px;
	padding: 2px 5px 2px 5px;
	
}

#sidebar .help_box p {
	margin: 0px;
	padding: 5px 0px;
}

#sidebar #event_name_help {
	top: 62px;
	left: 2px;
}

#sidebar #search_term_help {
	top: 158px;
	left: 2px;
}

#sidebar #description_help {
	top: 218px;
	left: 2px;
}