<% if !@group.nil? %>
	<ul id="user_groups">
		<% for group in @group.groups %>
		    <li><a href='/<%= group.full_path %>'>#<%= group.name %></a>
				<% if !group.groups.nil? %>
					<ul id="user_groups_sub_groups">
						<% group.groups.each do |sg| %>
							<li><a href='/<%= sg.full_path %>'>#<%= sg.name %></a></li>
						<% end %>
					</ul>
				<% end %>			
			</li>		
		<% end %>
	</ul>	
<% end %>
