<% if @group.nil? %>
	Unable to find group
<% end %>
<%= @group.name if !@group.nil? %>
  <% if @group.sub_groups %>
  <ul>
    <% @group.sub_groups.each do |sg| %>
      <li><a href='/groups/<%= sg.get_full_path %>'><%= sg.name %></a></li>
    <% end %>
  </ul>
  <% end %>
  <h2>recent tweets</h2>
  <div id="groupRecentTweets">
    <ul >
      <li id="tweetTemplate" style="display:none;">
        <span id="tweeter"></span>:<span id="tweet"></span>
      </li>
    </ul>
  </div>
  <form>
    <input type="hidden" id="sinceTweetId" value="0" />
  </form>

<br/>
<br/>

<% if !@group.nil? %>
	<a href='/groups/new/<%= @group.id %>'>Add sub-group</a><br />	
<% end %>