<% if !@results.nil? %>
	<ul id='results_list'>	
		<% for result in @results 
			if !result.group.nil? %>
				<li id='result_<%= result.group.id %>' class='result'>
					<span class='name'><%= result.group.name %></span>
				</li>
			<% end
		end %>
	</ul>
<% end %>