<div id='about_us'>
	<h4>What is Twoups?</h4>
	<p>Often at a conference or event (real or virtual), the participants will engage in conversations over twitter but there might not be concensus over what hash tags to use, or those hashtags in use might not be communicated out to all the participants effectively. </p>

	<p>Twoups is a tool to help event organizers decide on hashtags, relate them to each other and put some data on the tags for event participants to use. </p>


	<h4>How does Twoups do that?</h4>
	<p>Twoups uses what we call events to relate information to a hashtag. By creating a event, you are able to add some descriptive data to a hashtag, relate it to other tags, and then communicate it out to the participants in your event. Participants can then use twoups to explore the related hashtags, see whats being said on twitter using that hashtag.</p>


	<h4>How do I create a event?</h4>
	<p>To create a event, and get started organizing, go to the Home page and Login using your twitter account. From there, you should see a “Create new event” link.</p>

	<h4>Why was Twoups created?</h4>
	<p>Twoups is the brain child of <a href='http://twitter.com/joshreedschramm' target='_blank'>@joshreedschramm</a> and <a href='http://twitter.com/john_miller' target='_blank'>@john_miller</a>. They saw a need during a conference for some kind of organization around the hashtag conversations that were hapeing. They also wanted to compete in 2009’s Rails Rumble, so they recruited <a href='http://twitter.com/wyattearp' target='_blank'>@wyattearp</a> and <a href='http://twitter.com/jeremyskelly' target='_blank'>@jeremyskelly</a> to create the app.</p>
</div>
<%= render :partial => "sidebar" %>