<%= javascript_include_tag "jquery.form.js" %>
<%= javascript_include_tag "index.js" %>
<div id='search_container'>


  <% if !@auto_search %>
    <!--<div id='description_text'>
		<span id='examples'>examples: <a href='/twoups'>#twoups</a> <a href='/railsrumble'>#railsrumble</a></span>
		<br />
		<p>
		  Welcome to twoups.  We give you some tools to help better track and organize conversations over twitter using hashtags.  We tell you who's participating and allow you to set up information about the conversation too.  To get started, either search from some conversations and join in, or log in using your twitter account and create your own!
		</p>
    </div>-->
  <% end %>
    <div id='search_results'>
    </div>
</div>
<%= render :partial => "sidebar" %>
<% if @auto_search %>
	<script type="text/javascript">
		$(document).ready(function() {
  			$('#search_box').val('<%=@search_term%>');
  			$('#search_button').submit();
		});
	</script>
<% end %>






