<div id='homepage_container'>
  <% if !@auto_search %>
    <div class='clearfix description_text'>
		<img src='images/test.jpg' class='homepage_image' alt='homepage image' />
		<p class='image_description'>
		  Welcome to twoups.  We give you some tools to help better track and organize conversations over twitter using hashtags.  We tell you who's participating and allow you to set up information about the conversation too.  To get started, either search from some conversations and join in, or log in using your twitter account and create your own!
		</p>
    </div>
    <div class='clearfix description_text'>
		<img src='images/test.jpg' class='homepage_image' alt='homepage image' />
		<p class='image_description'>
		  This is paragraph 2. This is a bunch of stuff that we need to handle. 
		</p>
    </div>
  <% end %>
</div>
<%= render :partial => "sidebar" %>
<% if @auto_search %>
	<script type="text/javascript">
		$(document).ready(function() {
  			$('#search_box').val('<%=@search_term%>');
  			$('#search_button').submit();
		});
	</script>
<% end %>






