<div id='homepage_container'>
  <% if !@auto_search %>
    <div class='clearfix description_text'>
		<img src='images/home1.png' class='homepage_image' alt='homepage image' />
		<p class='image_description'>
		  Perfect for live events....
		</p>
    </div>
    <div class='clearfix description_text'>
		<img src='images/home2.png' class='homepage_image' alt='homepage image' />
		<p class='image_description'>
		  ...or virtual get-togethers!
		</p>
    </div>
  <% end %>
</div>
<%= render :partial => "sidebar" %>
<% if @auto_search %>
	<script type="text/javascript">
		$(document).ready(function() {
  			$('#search_box').val('<%=@search_term%>');
  			$('#search_button').submit();
		});
	</script>
<% end %>






