<%= javascript_include_tag "associated_accounts/add.js" %>
<h2>Please choose an account type to associate</h2>
<ul id='account_types'>
	<% @account_types_to_show.each do |account_type| %>
		<li><%= link_to "Create "+account_type.name+" Account", associate_account_url+"#"+account_type.abbreviation, :id=>"show_associate_"+account_type.abbreviation %></li>			
	<% end %>		
</ul>

<div id='associate_twitter' class='hidden'>
	<h2>Click the link below to associate your twitter account</h2>
	<%= link_to image_tag("twitter-signin.png"), start_twitter_session_url, :id=>"associate_TW" %>
</div>