<% if !@user.nil? && !@user.events.nil? && !@user.events.empty?  %>
	<ul id="user_events">
		<% for event in @user.events %>
		    	<li><a href='/<%= event.get_full_path %>'>#<%= event.name %></a>
		  	<% end %>
		<% end %>
	</ul>	
<% end %>
