<%= @user.twitter_name%>

<br /><br />
<% for group in @user.groups %>
	<a href='/groups/<%= group.name %>'><%= group.name %></a><br />
<% end %>
<br />
<%= link_to "Add a group", :controller=>"groups", :action=>"new" %>