<div id='search_container'>
    <div id='description_text'>
		<span id='examples'>examples: #eventcasts #railsrumble @eventcasts</span>
		<br />
		<p>Needs to be rewritten</p>
	</div>
    <div id='search_results'>
    </div>
</div>
<div id='login_user_section'>
	<div>
		<h4>Welcome @<%= logged_in_user.ec_username %>!</h4>
		<br />
		<%= link_to "Add a event", :controller=>"events", :action=>"new" %>
	</div>
	<h4>Manage your events</h4>
	<ul id="user_events">
		<% for event in logged_in_user.events %>
	    	<li><a href='/events/<%= event.id %>'><%= event.name %></a></li>
		<% end %>
	</ul>
	<br />
</div>
